.descriptionCollapse {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.accomodationCollapse {
    display: flex;
    gap: 55px;
    width: 95%;
}

.imgHost {
    border-radius: 58px;
    // margin-bottom: 6px;
}