$color_1: #FF6060;
$color_2: grey;
$color_3: pink;

.title {
	color: $color_1;
	margin-bottom: 0;
	margin-top: 32px;
}

.location {
	margin: 11px 0px 27px 0px;
}

.accomodationCollapse {
	display: flex;
	gap: 20px;
	width: 100%;
	margin-bottom: 32px;
}

.descriptionCollapse {
	width: 50%;
	padding-left: 6px;
}

.equipmentsCollapse {
	width: 50%;
	padding-right: 6px;
}

.blocLogement {
	display: flex;
	justify-content: space-between;
	padding: 8px;
}

.divHost {
	margin-top: 31px;
}

.textHost {
	display: flex;
	flex-direction: row;
	padding-right: 8px;
}

.hostName {
	padding-right: 10px;
	margin-top: 14px;
	max-width: 120px;
	box-sizing: border-box;
	text-align: right;
	font-size: 18px;
}

.imgHost {
	border-radius: 58px;
	width: 64px;
	height: 64px;
}

.grey_star {
	color: $color_2;
	font-size: 23px;
	margin-top: 10%;
	margin-left: 4%;
}

.pink_star {
	color: $color_3;
	font-size: 23px;
	margin-left: 5%;
}

.tags {
	display: flex;
	gap: 10px;
}

@media screen and (max-width: 768px) {
	.title {
		margin-top: 8px;
	}

	.blocLogement {
		// padding-left: 8px;
		display: flex;
		flex-direction: column;
	}

	.accomodationCollapse {
		padding-left: 8px;
		display: flex;
		flex-direction: column;
		margin-bottom: 18px;
	}

	.divHost {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		margin-top: 11px;
	}

	.textHost {
		padding-right: 15px;
		margin-bottom: 4px;
	}

	.starsRating {
		width: 180px;
		margin-top: 11px;
		padding-left: 6px;
	}

	.descriptionCollapse {
		width: 96%;
		display: flex;
		align-self: center;
		padding-right: 10px;
	}

	.equipmentsCollapse {
		width: 96%;
		align-self: center;
		padding-right: 10px;
	}

	.infosLogement {
		padding: 0px 15px 0px 13px;
	}
}