.accomodationCollapse {
    display: flex;
    gap: 20px;
    width: 100%;
}

.descriptionCollapse {
    width: 50%;
}

.equipmentsCollapse {
    width: 50%;
}

.blocLogement {
    display: flex;
    justify-content: space-between;
}

.divHost {
    margin-top: 31px;
}

.textHost {
    display: flex;
    flex-direction: row;
    padding-right: 8px;
}

.hostName {
    padding-right: 10px;
    max-width: 120px;
    box-sizing: border-box;
    text-align: right;
}

.imgHost {
    border-radius: 58px;
    width: 64px;
    height: 64px;
}

.grey_star {
    color: grey;
    font-size: 23px;
}

.pink_star {
    color: pink;
    font-size: 23px;
    margin-left: 4%;
}