p {
    text-align: center;
}

.error {
    padding-left: 18%;
}

.nbError {
    font-size: 11rem;
    font-weight: 600;
    margin: 3% 0 8% 0;
}

.linkAccueil {
    margin-top: 11%;
    margin-bottom: 8%;
    color: #FF6060;
}