$color_1: #FF6060;

.textError {
	text-align: center;
	color: $color_1;
}

.error {
	text-align: center;
}

.nbError {
	font-size: 11rem;
	font-weight: 600;
	margin: 3% 0 8% 0;
	color: $color_1;
}

.linkAccueil {
	margin-top: 11%;
	margin-bottom: 8%;
	color: $color_1;
}

@media screen and (max-width: 768px) {
	.nbError {
		margin-top: 11%;
	}

	.textError {
		padding-left: 36%;
		max-width: 210px;
	}
}