$color_1: white;

.banner {
	padding: 25px;
}

.bannerImg {
	border: 1px solid white;
	border-radius: 25px;
	height: 208px;
	width: 100%;
	filter: brightness(84%);
}

.bannerText {
	position: absolute;
	font-weight: 500;
	font-size: 41px;
	color: $color_1;
	margin-top: 7%;
	margin-left: 22%;
	z-index: 1;
	line-height: 68px;
}

@media screen and (max-width: 768px) {
	.banner {
		padding: 18px;
	}

    .bannerImg {
		// width: 495px;
		height: 164px;
	}

	.bannerText {
		font-size: 24px;
		font-weight: 700;
		margin-left: 5%;
	}
}