.title {
    position: relative;
    bottom: 70px;
    left: 20px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.styleCards {
    border: 1px solid;
    border-color: white;
    border-radius: 20px;
    width: 30%;
    height: 260px;
}

.Image {
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-radius: 20px;
}