$color_1: white;

.carousselDiv {
	height: 415px;
	position: relative;
	padding: 14px;
}

.buttonPrev {
	position: absolute;
	top: 38%;
	left: 1%;
	background: none;
	border: none;
	font-size: 88px;
}

.buttonNext {
	position: absolute;
	top: 38%;
	right: 1%;
	background: none;
	border: none;
	font-size: 88px;
}

.imgCaroussel {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 18px;
}

.imageCounter {
	position: absolute;
	bottom: 4px;
	left: 50%;
	font-size: 18px;
	font-weight: 500;
	color: $color_1;
}

@media screen and (max-width: 768px) {
	.imgCaroussel {
		width: 100%;
	}

	// .carousselDiv {
	// 	padding: 14px;
	// }

	.buttonNext {
		margin-right: 10px;
	}

	.buttonPrev {
		margin-left: 10px;
	}
}