.ImgBanner {
    width: 100%;
}

button {
    width: 75%;
    display: flex;
    border-radius: 6px;
    background-color: #FF6060;
    color: white;
    border-color: #FF6060;
    padding: 5px;
}

.blocCollapse {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.buttonCollapse {
    display: flex;
    justify-content: space-between;
}

.iconCollapse {
    width: 23px;
    height: 18.5px;
    fill: white;
} 

.closed {
    transform: rotate(0);
    transition: all 0.2s ease-in-out;
}

.open {
    transition: all 0.2s ease-in-out;
    transform: rotate(-180deg);
}

p {
    color: #FF6060;
    padding-right: 25%;
}