button {
    width: 75%;
    display: flex;
    border-radius: 6px;
    background-color: #FF6060;
    color: white;
    border-color: #FF6060;
    padding: 5px;
}

.blocCollapse {
    padding-left: 20%;
}

p {
    color: #FF6060;
}