.footer {
    width: 100%;
    height: 193px;
    background-color: black;
    margin-top: 10px;
}

.footerText {
    color: white;
    margin-top: 4%;
    text-align: center;
}

.logoFooter {
    display: block;
    margin: auto;
    padding-top: 43px;
}