.footer {
    width: 100%;
    height: 193px;
    background-color: black;
    margin-top: 10px;
}

.footerText {
    color: white;
    margin: 5% 0 0 24%;
}

.logoFooter {
    display: block;
    margin: auto;
    padding-top: 32px;
}