$color_1: #FF6060;

.navList {
	display: flex;
	align-self: center;
	padding: 20px;
	gap: 28px;
	list-style: none;
	text-decoration: none;
}

.navbar {
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.Logo {
	padding: 18px 22px;
	height: 54px;
}

.Nav {
	text-decoration: none;
	color: $color_1;
}

.NavActive {
	text-decoration: underline solid;
	color: $color_1;
}

span {
	font-weight: normal;
	font-size: 18px;
}

@media screen and (max-width: 768px) {
	.Logo {
		padding: 14px;
		height: 46px;
	}
}